.sass_cache/
node_modules/
pattern-library/
Thumbs.db
ehthumbs.db
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
npm-debug.log

/acf-field-date-time-picker/
/acf-image-crop-add-on/
/admin-menu-editor/
/advanced-custom-fields/
/advanced-custom-fields-meta-location-rule/
/akismet/
/redirection/
/regenerate-thumbnails/
/ultimate-coming-soon-page/
/simple-image-sizes/
/index.php